@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@300&family=Fira+Sans:wght@400;500&family=Josefin+Sans:wght@100;400&family=Libre+Baskerville:wght@700&family=Oxygen:wght@300;400&family=Roboto+Mono:wght@200&family=Roboto+Slab:wght@200;400&family=Ubuntu:wght@500&display=swap');

:root {
  --border-color: #d3d1cb;
  --background-color: #ffe5b5;
  --text-color: #dab200;
}

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(227, 249, 255);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  height: 100vh;
  margin: 0;
  font-family: 'Josefin Sans', sans-serif;
}

.draggable-list {
  border: 1px solid var(--border-color);
  color: var(--text-color);
  padding: 0;
  list-style-type: none;
}

.draggable-list li {
  background-color: rgb(227, 249, 255);
  display: flex;
  flex: 1;
}

.draggable-list li:not(:last-of-type) {
  border-bottom: 1px solid var(--border-color);
}

.draggable-list .number {
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  height: 60px;
  width: 60px;
}

.draggable-list li.over .draggable {
  background-color: #eaeaea;
}

.draggable-list .hero-name {
  margin: 0 20px 0 0;
}

.draggable-list li.right .hero-name {
  color: rgb(84, 179, 84);
}

.draggable-list li.wrong .hero-name {
  color: rgb(189, 32, 32);
}

.draggable {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
  flex: 1;
}

.check-btn {
  background-color: var(--background-color);
  border: none;
  color: var(--text-color);
  font-size: 16px;
  padding: 10px 20px;
  cursor: pointer;
}

.check-btn:active {
  transform: scale(0.98);
}

.check-btn:focus {
  outline: none;
}